---
import Layout from '../layouts/Layout.astro';
import Seedling from '../assets/seedling.svg';
---

<Layout>
  <header>
    <h1>farmarrays.com</h1>
  </header>
  <main>
    <p>
      Hey there. What you are seeing right now is the entire website. This
      domain is used for boring purposes; such as signing up for online accounts
      and receiving mail. Gotta have that A record point to something after all.
    </p>
    <p>
      You can find my main website over at <a
        href="https://memoryconflux.com"
        target="_blank"
        rel="noopener noreferrer">memoryconflux.com</a
      >.
    </p>
  </main>
  <footer>
    <Seedling width="32" height="32" stroke-width="1" />
    <p>Life can bloom in the weirdest of places.</p>
    <p>
      Hosted with love by <a
        href="https://ext4cats.memoryconflux.com"
        target="_blank"
        rel="noopener noreferrer">ext4cats</a
      >.
    </p>
  </footer>
</Layout>

<style>
  header,
  main,
  footer {
    max-width: 85ch;
    padding-inline: 3em;
    margin-inline: auto;
    text-align: center;
    margin-top: 3em;
  }

  main p {
    margin-block: 1em;
  }

  footer {
    opacity: 25%;
  }

  footer svg {
    margin-inline: auto;
  }

  footer p {
    font-style: italic;
  }
</style>
