---
import Layout from '../layouts/Layout.astro';
---

<Layout title="farmarrays.com">
  <p>
    Hey there. There is not much to see here; this domain only hosts private
    services for personal use. You may visit my main website over at <a
      href="https://memoryconflux.com"
      target="_blank"
      rel="noopener noreferrer">memoryconflux.com</a
    >.
  </p>
</Layout>
