---
import '../styles/reset.css';
import '../styles/main.css';
import Seedling from '../assets/seedling.svg';

const { title } = Astro.props;

interface Props {
  readonly title: string;
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <title>farmarrays.com</title>
  </head>
  <body>
    <header>
      <h1>{title}</h1>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <Seedling
        width="32"
        height="32"
        stroke-width="1"
        role="img"
        aria-label="A young sapling..."
      />
      <p>Life can blossom in the strangest of places.</p>
      <p>
        Hosted with love by <a
          href="https://ext4cats.memoryconflux.com"
          target="_blank"
          rel="noopener noreferrer">ext4cats</a
        >.
      </p>
    </footer>
  </body>
</html>
